/***********************
 *	Imaginus.org ©2017
 *
 *	Project		: Learning-TypeScript
 *	Author		: Todd Mullen
 *	Document	: styles.css
 *	Created		: Jul 2, 2017, 10:58:01 PM
 *	Description	:
 *		Styles for
 ***********************/

body{
	height: 100%; width: 100%;
	padding: 10px;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	background: #fefcea;
	background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%);
	background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%);
	background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 );
}
.body{
	min-height: 1000px;
	color: #333;
	/*font-variant: small-caps;*/
}

a:link{
	text-decoration: none;
	font-style: oblique;
}

li{
	list-style: none;
	list-style-position: outside;
	display: inline-block;
	margin-right: 3px;
	padding: 3px;
	border: 2px outset buttonface;
}

footer{
	position: fixed;
	bottom: 0;
	padding: 5px;
	font-size: small;
}